
/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

html,
body {
    padding: 0;
    margin: 0;
}

body {
	overflow-x: hidden;
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	line-height: 1.5;
	cursor: default;

}

h1 {
	font-family: AsterismCleanBold-Regular;
	font-weight: normal;
	font-style: normal;
	font-size: 4em;
	line-height: 1;

}

h2 {
	font-size: 1.5em;
	font-weight: bold;
}
h3 {
	font-size: .8em;
	font-weight: light;
	text-transform: uppercase;
	text-align: center;
	padding-bottom: .7em;

}
p {
	margin: 0 0 1.5em 0;
	font-family: 'Montserrat', sans-serif;

}

.wrapper {
	max-width: 100%;
	background: white;
	width: 100%;
	overflow: hidden;
	border-bottom: 2px solid #333;
	position: fixed;
	z-index: 200;
	
}
#page-header a {
	color: inherit;
	text-decoration: none;
}
#page-header h1 {
	float: left;
	color: #333;
	font-size: 1.5em;
	font-weight: bold;
	margin: .6em 0 0 0;
	padding: .3em 0 .5em .8em;
	font-family: 'Montserrat', sans-serif;
	
}
#page-header nav {
	float: right;
}
#page-header nav li {
	float: left;
}
#page-header nav a {
	float: left;
	display: block;
	padding: 20px 25px 0 0 ;
	color: black;
	text-transform: uppercase;
}
#page-header nav li a:hover {
	color: #d8cbae;
	transition: all 0.2s ease;

}

.hamburger {	
    display: none;
    position: absolute;
    top: -.3em;
    right: .3em;
}

.carousel{
	max-width: 90%;
	margin: 0 auto;
	padding-top: 4em;

}

.right img {
    padding: 1em 0;
    width: 100%;

}

.right-text {
	
	text-align: center;
	width: 100%;
	/*border-bottom: 1px dotted #d8cbae;*/
	margin: 4.5em 0 0 0;
	
}

.right-text h1{
	color: #d4922b;
}

.right-text p {
	font-size: .9em;
	text-align: center;
	margin-right: 2em;
	margin-left: 2em;
}

.main {
	width: 50%;
	float: left;
	height: 600px;
	background: url(../images/main5.jpeg) center center no-repeat;
	background-size: cover;
	overflow: hidden;
	
}	
.main2 {
	width: 50%;
	float: left;
	height: 600px;
	background: url(../images/main2.jpg) center center no-repeat;
	background-size: cover;
	overflow: hidden;
	
}	

.room-feature {
	
	font-family: 'Montserrat', sans-serif;
	color: #333;
	float: right;
	width: 50%;
	text-align: left;
	font-size: .9em;
	line-height: 1.5;
	padding-top: 20em;
	padding-left: 2em;
	padding-right: 1em;
	height: 100%;
	background: rgba(255, 255, 255, 0.7)

}
.room-feature2 {
	font-family: 'Montserrat', sans-serif;
	color: #333;
	float: right;
	width: 50%;
	text-align: left;
	font-size: .9em;
	line-height: 1.5;
	padding-top: 20em;
	padding-left: 2em;
	padding-right: 1em;

}

.room-feature h1{
 font-family: 'Montserrat', sans-serif;
 letter-spacing: -1px;
 font-size: 2.2em;
 margin-bottom: 5px;

}
.room-feature2 h1 {
 font-family: 'Montserrat', sans-serif;
 letter-spacing: -1px;
 font-size: 2.2em;
 margin-bottom: 5px;
 color: white;

}

.room-feature2 p {
	color: white;
}

.room-feature p, .room-feature2 p {
	width: 90%;

}
.mobile-only {
	display:none;
	float: left;
}

.button {

	text-decoration: none;
	text-transform: uppercase;
     letter-spacing: .5px;
     font-size: .7em;
     background: white;
     color: black;
     display: block;
     text-align: center;
     padding: 1em;
     border: 1px solid #d8cbae;
     border-radius: 4px;
     width: 80%;
     margin:0 auto 1.6em;
	float: left;
    padding:9px;
    vertical-align: center;
   
	
	
}
a.button:hover {
	border: 1px solid black;
	transition: all 0.3s ease;


}

.special {
	background: #333;
	color: white;
	border: 1px solid white;
	width: 60%;
	font-weight: light;
}

a.special:hover {
	border: 1px solid #d8cbae;
	transition: all 0.1s ease;
	color: #d8cbae;

}
.finds {
	float:left;
	width: 100%;
	margin: 0;
	background: #f8f8f8;

	
}


.finds img {
	max-width: 60%;
	height: auto;
	padding-left: 20%;
	padding-right: 20%;
	z-index: 0;
	
}


/* Tablet/Mobile Styles */

@media screen and (max-width:800px) {

    p {
    font-size: .8em;
    }

    h1 {
	font-size: 2.5em;
	line-height: .8;

	}
    
	.main {
	width: 100%;
	float: left;
	height: 300px;
	background-size: cover;
	overflow: hidden;
	
	}	
	.main2 {
	width: 100%;
	float: left;
	height: 300px;
	background-size: cover;
	overflow: hidden;	

	}	
	.room-feature {
		
		float: right;
		width: 40%;
		text-align: left;
		font-size: .9em;
		line-height: 1.5;
		padding-top: 5em;
		height: 300px;
		background: rgba(255, 255, 255, 0.6)

	}
	.room-feature2 {
		
		float: right;
		width: 40%;
		text-align: left;
		font-size: .9em;
		line-height: 1.5;
		padding-top: 5em;
		max-height: 300px;

	}
	.special {
		background: #333;
		color: white;
		border: 1px solid white;
		width: 80%;
	}

@media screen and (max-width:620px) {
    .desktop-only {
        display: none;
    }

	#page-header nav ul li a {
	padding: 30px 30px 20px 5px;
	font-size: .9em;
	text-align: center;
	}

	#page-header .hamburger {
	text-decoration: none;
 	color: #f47e76;
    font-size: 2em; 
    margin: -8px;
	}

    .mobile-only {
        display: inline-block;
        
    }
	.special {
		background: #333;
		color: white;
		border: 1px solid white;
		width: 60%;
	}
	.main {
	width: 100%;
	float: left;
	height: 250px;
	background-size: cover;
	overflow: hidden;
	
	}	
	.main2 {
	width: 100%;
	float: left;
	height: 250px;
	background-size: cover;
	overflow: hidden;	

	}	
	.room-feature {
		
		float: left;
		width: 90%;
		text-align: center;
	
	}
	.room-feature2 {
		
		float: left;
		width: 90%;
		text-align: center;

	}

	.right-text h1{
	margin: -.5em 0 0 0;

	}

	.button {
		margin-left: 15%;
		margin-right: 10%;

	}
	@media screen and (max-width:400px) {
	.right img {
    padding: 0 0 0 4em;
    width: 80%;
    height: auto; 
}
}
